#tab_page_cardList{
  width: 1200px;
  // min-height: 900px;
  // padding: 20px 0 20px;
  margin: 0 auto;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  .ant-col{
    text-align: center;
  }
  .card {
    background: #fff;
    margin: 10px;
    width: 95%;
    height: 370px;
    padding: 15px 0px;
    text-align: center;
    display: inline-block;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: none;

    .img-header {
      width: 180px;
      height: 180px;
    }

    .title {
      margin: 0 auto;
      color: #333;
      font-size: 16px;
      text-align: center;
      font-weight: bold;
      overflow: hidden;
      width: 100%;
      padding: 12px 8px 0px 8px;
      height: 32px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }

    .sub-title {
      color: #999;
      text-align: center;
      padding: 10px 10px 0px 12px;
      line-height: 16px;
      height: 40px;
      vertical-align: middle;
      width: 230px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .price {
      color: #f60;
      font-size: 16px;
      padding-top: 10px;
      text-align: center;

      .btnbook {
        margin: 0 auto;
        background: #0070c0;
        display: block;
        line-height: 36px;
        width: 110px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
      }
    }

    .footer {
      text-align: center;
      padding: 10px;
      font-size: 12px;
      color: #999;
      line-height: 16px;
    }
  }

  .card:hover {
    border: 1px solid rgb(299, 299, 299);
    box-shadow: rgb(213, 210, 210) 0px 0px 10px;
  }

  .release-box {
    margin: 50px 0px;
    border: 2px solid rgb(0, 112, 192);
    height: 80px;
    background-color: #fff;

    .release-left {
      float: left;
      height: 80px;
      line-height: 80px;
      font-size: 18px;
      color: #666;
      padding-left: 60px;
    }

    .release-right {
      float: right;
      height: 80px;
      line-height: 80px;
      padding: 15px 60px 15px 0px;
    }

    .release-jump {
      height: 50px;
      line-height: 50px;
      background: rgb(0, 112, 192) url(//statics.shiyanjia.com/c/images/fabutask.png) no-repeat 20px 10px;
      color: #fff;
      font-weight: bold;
      padding-left: 60px;
      padding-right: 25px;
      font-size: 22px;
      filter: alpha(opacity=70);
      -moz-opacity: 0.7;
      -khtml-opacity: 0.7;
      opacity: 0.7;
    }
  }
}
#tab-page {
  // width: 1200px;
  // min-height: 900px;
  // padding: 20px 0 20px;
  margin: 0 auto;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  .ant-col{
    text-align: center;
  }
  .card {
    background: #fff;
    margin: 10px;
    width: 95%;
    height: 370px;
    padding: 15px 0px;
    text-align: center;
    display: inline-block;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: none;

    .img-header {
      width: 180px;
      height: 180px;
    }

    .title {
      margin: 0 auto;
      color: #333;
      font-size: 16px;
      text-align: center;
      font-weight: bold;
      overflow: hidden;
      width: 100%;
      padding: 12px 8px 0px 8px;
      height: 32px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }

    .sub-title {
      color: #999;
      text-align: center;
      padding: 10px 10px 0px 12px;
      line-height: 16px;
      height: 40px;
      vertical-align: middle;
      width: 230px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .price {
      color: #f60;
      font-size: 16px;
      padding-top: 10px;
      text-align: center;

      .btnbook {
        margin: 0 auto;
        // background: #2ebf7b;
        display: block;
        line-height: 36px;
        width: 110px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
      }
    }

    .footer {
      text-align: center;
      padding: 10px;
      font-size: 12px;
      color: #999;
      line-height: 16px;
    }
  }

  .card:hover {
    border: 1px solid rgb(299, 299, 299);
    box-shadow: rgb(213, 210, 210) 0px 0px 10px;
  }

  .release-box {
    margin: 50px 0px;
    border: 2px solid #32d693;
    height: 80px;
    background-color: #fff;

    .release-left {
      float: left;
      height: 80px;
      line-height: 80px;
      font-size: 18px;
      color: #666;
      padding-left: 60px;
    }

    .release-right {
      float: right;
      height: 80px;
      line-height: 80px;
      padding: 15px 60px 15px 0px;
    }

    .release-jump {
      height: 50px;
      line-height: 50px;
      background: #32d693 url(//statics.shiyanjia.com/c/images/fabutask.png) no-repeat 20px 10px;
      color: #fff;
      font-weight: bold;
      padding-left: 60px;
      padding-right: 25px;
      font-size: 22px;
      filter: alpha(opacity=70);
      -moz-opacity: 0.7;
      -khtml-opacity: 0.7;
      opacity: 0.7;
    }
  }

  //
  .index_receipt{
    background: rgb(244, 251, 248);
    // padding: 0 32px;
    // padding-bottom: 8px;
    // margin-top: 32px;
    >div{
      width: 1200px;
      margin: auto;
      padding: 0 32px;
      padding-bottom: 8px;
      >h3{
        font-weight: bold;
        line-height: 100px;
        font-size: 28px;
        text-align: center;
      }
      .index_receipt_col{
        border: none;
        padding: 0;
        // line-height: 30px;
      }
      .index_receipt_col1{
        border-right: none;
      }
      .index_receipt_col2{
        border-right: none;
      }
      .index_receipt_table1{
        .ant-table-bordered .ant-table-body > table{
          border-top: none;
        }
        .ant-spin-container{
          // opacity: 0;
          .ant-table-placeholder{
            // opacity: 0;
            background: rgba(100, 100, 100, 0);
            height: 54px;
            >div{
              opacity: 0;
              display: none;
            }
          }
        }
      }
    }
  }
  .index_spell{
    // background: rgb(244, 251, 248);
    // padding: 0 32px;
    padding-bottom: 8px;
    // margin-top: 32px;
    // margin-bottom: 32px;
    height: 100vh;
    background-size: 100% 100%;
    background-position-x: 50%;
    position: relative;
    >h3{
      font-weight: bold;
      line-height: 100px;
      font-size: 28px;
      text-align: center;
    }
    .index_spell_Row{
      margin-bottom: 32px;
    }
    .index_spell_title{
      text-align: center;
      >img{
        display: inline-block;
        width: 120px;
        height: 120px;
        // border: 1px #efefef solid;
      }
      >span{
        font-size: 20px;
        font-weight: bold;
        line-height: 30px;
      }
    }
    .index_spell_conten{
      .index_spell_conten_list{
        text-align: center;
      }
    }
    .index_spell_card{
      position: absolute;
      left: 50%;
      bottom: 0px;
      >div{
        position: absolute;
        width: 200px;
        height: 70px;
        text-align: right;
        overflow: hidden;
        cursor: pointer;
        // border: 1px red dashed;
        // display: table;
        >div{
          float: left;
          width: 50%;
          height: 70px;
          overflow: hidden;
          text-align: center;
          font-size: 12px;
          color: rgb(255, 192, 0);
          >h3{
            margin: 0;
            color: rgb(255, 192, 0);
            font-size: 16px;
          }
          >p{
            margin: 0;
            line-height: 14px;
            font-size: 12px;
          }
          >img{
            height: 64px;
          }
        }
      }
    }
  }



}